* {
    font-family: Verdana, sans-serif;
}

body {
    background-color: #7ec290;
}

h1 {
    text-align: center;
    font-size: 36px;
}

#container,
#results {
    background-color: #548561;
    text-align: center;
    line-height: 3em;
}

#results {
    height: 500px;
    overflow-y: scroll;
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
}

#scores {
    display: flex;
    position: fixed;
    justify-content: center;   
}

#playerScoreDiv,
#computerScoreDiv {
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid black;
    padding: 10px 10px;
    border-radius: 10px;
    width: 170px;
    height: 50px;
    background-color: #754e85;
    color: white;
}

#rock,
#paper,
#scissors {
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: #754e85;
    color: white;
}

